.tc {
  text-align: center;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 30px;
}


.logo-digital {
  width: 120px;
  margin-top: 14px;
  margin-right: 100px;
}

.color-blulight {
  color: #1633FF;
}

.sponsor, .main1{
  background-color: #F3F5F9;
}


.jumbotron {
  background-color: #0069ff;
}

.jumbotron-left, {
  color: white;
  margin-top: 50px;
}

.jumbotron-right {
  background-color: white;
  margin-top: 50px;
}

.signing {
  margin-bottom: 30px;
}

.logo {
  width: 150px;
  height: 70px;
}

.icon-deploy {
  width: 30px;
  height: 30px;
}

.img-designed {
  width: 400px;
}

.fas {
  width: 30px;
  height: 30px;
}

.fa-circle, .far {
  color: #1633FF;
}

.far {
  margin-right: 5px;
}


.box-business {
  background-color: orange;
  height: 100px;
}


.service-list-left {
  height: 100px;
  background-color: red;

}

.service-list-right {
  height: 100px;
  background-color: green;
}

.left-development {
  background-color: grey;
  height: 100px;
}

.img-development {
  background-color: yellow;
  height: 100px;
}

.right-development {
  background-color: red;
  height: 100px;
}


.footer-company {
  height: 100px;
  background-color: green;
}

.footer-product {
  height: 100px;
  background-color: grey;
}

.footer-community {
  height: 100px;
  background-color: pink;
}

.footer-support {
  height: 100px;
  background-color: yellow;
}
