.tc {
  text-align: center;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 30px;
}

.logo-digital {
  width: 120px;
  margin-top: 14px;
  margin-right: 100px;
}

.color-blulight {
  color: #1633FF;
}

.sponsor, .main1, .main4{
  background-color: #F3F5F9;
}

.main5 {
  background-color: #0858FF;
}


.jumbotron {
  background-color: #0069ff;
}

.jumbotron-left, {
  color: white;
  margin-top: 50px;
}

.jumbotron-right {
  background-color: white;
  margin-top: 50px;
}

.signing {
  margin-bottom: 30px;
}

.logo {
  width: 150px;
  height: 70px;
}

.icon-deploy {
  width: 30px;
  height: 30px;
}

.list-deploy {
  list-style: none;
}

.img-designed {
  width: 400px;
}

.fas {
  width: 30px;
  height: 30px;
}

.fa-circle, .far {
  color: #1633FF;
}

.far {
  margin-right: 5px;
}

.icon-business {
  width: 30px;
  height: 30px;
}

.service-list-left {
  height: 100px;
  background-color: red;

}

.service-list-right {
  height: 100px;
  background-color: green;
}

.img-designed2 {
  width: 350px;
}

.btn-default {
  background-color: white;
  color: #0858FF;
  margin-bottom: 50px;
}

.get {
  color: white;
}



footer {
  background-color: #010E28;
}

.list {
  list-style: none;
  color: #5E6674;
}
.title-link {
  color: white;
}
