.tc {
  text-align: center;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 30px;
}

.logo-digital {
  width: 120px;
  margin-top: 14px;
  margin-right: 100px;
}

.color-blulight {
  color: #1633FF;
}

.view {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sponsor, .main1, .main4{
  background-color: #F3F5F9;
}

.main5 {
  background-color: #0858FF;
}

.jumbotron {
  background-color: #0069ff;
}

.jumbotron-left {
  color: white;
  margin-top: 50px;
}

.jumbotron-right {
  background-color: white;
  margin-top: 50px;
}

.btn-google {
  position: relative;
}

.img-google {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.signing {
  margin-bottom: 30px;
}

.logo {
  width: 150px;
  height: 70px;
}

.icon-deploy {
  width: 30px;
  height: 30px;
}

.box-list {
  border-left: 1px solid black;
}

.list-deploy {
  list-style: none;

}

.list-deploy li {
  margin-bottom: 20px;
}

.img-designed {
  width: 400px;
}

.fas {
  width: 30px;
  height: 30px;
}

.fa-circle, .far {
  color: #1633FF;

}

.far {
  margin-right: 5px;
  margin-bottom: 40px;
}

.icon-business {
  width: 30px;
  height: 30px;
}

.service-list-left {
  
  display: inline-block;

}

.service-list-right {
  height: 100px;
  background-color: green;
}

.img-designed2 {
  width: 350px;
}

.btn-default {
  background-color: white;
  color: #0858FF;
  margin-bottom: 50px;
}

.get {
  color: white;
}

footer {
  background-color: #010E28;
}
.footer-left {
  color: #5E6674;
}

.logo-ocean {
  margin-top: 40px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  color: #5E6674;
}
.title-link {
  color: white;
}
